body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#DDF7DA;
  font-family: 'Brush Script MT', cursive;
}

.container {
	border-radius: 5px;
	background-color: #DDF7DA	;
	padding: 20px;
	font-size: 80px;
}

input[type=submit], input[type=button] {
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 70px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #6BAB63	;
	font-family: 'Brush Script MT', cursive;	
}